h1 {
    color: #DA291CFF;
    text-align: center;
    font-family: 'Amatic SC', cursive;

    
}

h2{
    color: #DA291CFF;
    text-align: center;
    font-family: 'Amatic SC', cursive;


}

body {
    background-color: #56a8cb;
}

ul {
    background-color: rgb(83, 165, 103, .4);
    width: 200px;
    border-radius: 1.5em;
    padding: 10px;
    list-style-type: none;
    border-style: double;
    border-color: #DA291CFF;
    border-width: 4px;

}

li{
    font-family: 'Special Elite', cursive;
}

#new-burgers{
    float: left;
}

#devoured-burgers{
    float: right;
}

#main-div{
    width: 500px;
    height: 300px; 
    margin-bottom: 40px;
    margin: 0 auto;

}

#add-burger-div{
    margin: 0 auto;
    width: 500px;
    height: 100px;
}

img{
    /* width: 200px;
    height: 200px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

form{
    font-family: 'Special Elite', cursive;
}